/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html,
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

html {
    /* Standard text-settings below */
    font-size: 1em;
    line-height: 1.4em;
}




/* Mobile First CSS: we'll design for phone sizes first, then add media queries for tablets and desktop computers later */

body {}


#container {}


header {
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    left: 10%;
    top: 30%;
    color: white;
}

header h1 {
    font-size: 3rem;
}

.main-sections {
    margin: 0;
}

.section-title {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3rem;
    line-height: 3rem;

    padding: 1.5rem;
    margin: 0 auto;

    position: relative;
    top: 50%;
    text-align: center;
}

.info-container{
    border-color: black;
    border-style: solid;
    border-width: 0.5rem 0;
}
.main-sections h2{
    padding-left: 1rem;
}
.main-sections p {
    margin: 0;
    padding: 1rem;
    background-color: cyan;
}



/* Specific Sections */
#intro-sect h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 4rem;
    position: relative;
    background-color: brown;
    margin: 0;
}

#section-2-headers {
    margin: 0 auto;
    top: 25%;
    position: relative;
}

/* Parallax Images or Backgrounds */
.parallax-image {
    height: 100lvh;
    max-width: 100%;
    width: 100%;
}

#header-image {
    background: url(../images/image-1.png) no-repeat fixed center;
    
    background-size: contain;
    background-color: black;
}

#image-1 {
    background: url(../images/image-1.png) no-repeat fixed center;
    background-size: contain;
    background-color: gray;
}

#image-2 {
    background: url(../images/image-1.png) no-repeat fixed center;
    background-color: darkgray;
    background-size: contain;
}

#image-3 {
    background: url(../images/image-1.png) no-repeat fixed center;
    background-color: darkorange;
    background-size: contain;
}



.sect-title-anim{
    animation: section-title-appear 3s linear repeat;
}

/* Class for making YouTube/Vimeo videos responsive */

figure.responsive {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 0px;
    overflow: hidden;
    max-width: 100%;
}

figure.responsive iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}



/* A better looking default horizontal rule */
hr {
    display: block;
    height: 1px;
    border: 0px;
    border-top: 1px solid #ccc;
    margin: 1em 0px;
    padding: 0px;
}

/* -------------------------------------------- */
/* Animations */
/* -------------------------------------------- */
@keyframes section-title-appear{
    0%{
        color: green;
        transform: translateY(50rem);
    }
    100%{
        color: red;
        transform: translateY(0rem);
    }
}

/* ========================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */

/* Minimum width for iPads and tablets.  */
@media all and (min-width: 481px) {
    header {
        left: 10%;
        top: 30%;
    }




}

/* closes 481px+ */



/* Minimum width for laptops. */
@media all and (min-width: 769px) {
    header {
        left: 10%;
    }

    header h1 {
        font-size: 5rem;
    }

}

/* closes 769px+ */



/* Minimum width for desktop screens. */
@media all and (min-width: 1024px) {}

/* closes 1024px+ */